* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: "Poppins", sans-serif;
}

/*-----navbar-----*/
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(16, 16, 66);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.left {
    font-size: 1.5rem;
    font-weight: bold;
}

.firstSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 40px 80px;
    margin-right: auto;

}

/*-----home-----*/
.firstSection>div {
    width: 30%;
}

.leftSection {
    font-size: 3rem;
    margin: 70px 0;
}

/*-----name-----*/
.purple {
    font-size: 4rem;
    color: rgb(156, 156, 251);

}

.semibold {
    font-weight: bold;
    font-size: 4rem;
}

/*-----passion-----*/
#element {
    color: rgb(156, 156, 251);
}

.secondSection {
    max-width: 80px;
    margin: 0 150px;
}

.secondSection h1 {
    font-size: 2rem;
}

.crave {
    text-align: center;
    padding: 80px 0;
}

/*-----about section-----*/
#about {
    padding: 80px 0;
    color: #ababab;
}

.container-a {
    margin-right: 130px;
    margin-left: 250px;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin-right: 130px;
    margin-left: 250px;
    padding: 0;
}

/*
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}
*/
.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-2 {
    flex-basis: 60%;
    margin-left: 40px;
}

.about-me {
    animation: slideInRight 2s forwards;
}

/*-----About me text bold-----*/
.sub-title {
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/*-----tabs under about-----*/
.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents {
    display: none;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: rgb(165, 165, 251);
    font-size: 16px;
    margin: 50px 0;
}

.tab-contents.active-tab {
    display: block;
    margin-top: 20px;
}

.user-image {
    width: 80%;
}

/*-------Projects-------
#projects {
    padding-bottom: 30px;
    margin: 80px 0;

}---*/
#project-title{
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.container-p {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px;
    max-width: 1600px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.section-title {
    text-align: justify;
    margin: 30px 0;
    font-size: 60px;
    color: #ffffff;
}

.project {
    width: 370px;
    margin: 0px 30px;
    padding: 10px;
}

.project-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-description {

    line-height: 1.6;
    color: #bbb;
    margin-bottom: 20px;
}

.project-link {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#both {
    margin-left: 32px;
}

.project-link:hover {
    background-color: #0056b3;
}

/*------contact------*/

#contact {
    color: #fff;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 100px;
}

.container-contact {
    padding: 0 10%;
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.container-c .section-title {
    text-align:center;
    margin-left: auto;
    font-size: 60px;
    color: #ffffff;
}

.contact-info {
    margin: 0px 20px;
    padding: 0 160px;
}

.contact-form label {
    margin-bottom: 10px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px 40px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.contact-form input {
    width: 100%;
    display: block;
}

.contact-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
}

/*-----footer-----*/
footer {
    background-color: rgb(16, 16, 66);
    height: 120px;
}

.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer-first {
    font-weight: bold;
}

.footer-third ul li {
    display: inline;
    padding: 80px;
}

.footer-third ul li a {
    text-decoration: none;
    color: white;
}

.footer ul {
    color: white;
    text-decoration: none;

    list-style: none;
    margin: 0 23px;
}

.footer-rights {
    text-align: center;
    color: gray;
    padding: 12px 0;
}
